<h2>Create Task</h2>
<form [formGroup]="taskForm" (ngSubmit)="createTask()">
    <div>
        <label>Task Name</label>
        <input type="text" formControlName="name">
        @if (nameControl.touched && nameControl.hasError('required')) {
            <small>
                Task name is required.
            </small>
        }
        @if (nameControl.touched && nameControl.hasError('maxlength')) {
            <small>
                Task name cannot exceed 100 characters.
            </small>
        }
    </div>

    <div>
        <label>Description</label>
        <textarea formControlName="description"></textarea>
        @if (nameControl.touched && nameControl.hasError('required')) {
            <small>
                Task description is required.
            </small>
        }
        @if (nameControl.touched && nameControl.hasError('maxlength')) {
            <small>
                Task description cannot exceed 400 characters.
            </small>
        }
    </div>

    <div>
        <label>Due Date</label>
        <input type="date" formControlName="dueDate">
        @if (nameControl.touched && nameControl.hasError('required')) {
            <small>
                Due date is required.
            </small>
        }
    </div>

    <div>
        <label>Priority</label>
        <select formControlName="priority">
            <option [ngValue]="Priority.Low">
                Low
            </option>
            <option [ngValue]="Priority.Medium">
                Medium
            </option>
            <option [ngValue]="Priority.High">
                High
            </option>
        </select>
        @if (priorityControl.touched && priorityControl.hasError('required')) {
            <small>
                Priority is required.
            </small>
        }
    </div>

    <button
        type="submit"
        [disabled]="taskForm.invalid">
        Create Task
    </button>
    @if (taskCreatedMessage) {
        <small>
            {{ taskCreatedMessage }}
        </small>
    }

</form>
